body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: Georgia, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #121111;
  background-color: #fafafa;
}

main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.slider {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 73vh;
  max-width: 60rem;
  padding: 3%;
  border-radius: 1rem;
  border: 0.1em solid #141414;
  background-color: #615f5f;
}

.slider-memes {
  width: 100%;
  height: auto;
  border-radius: 1rem;
  overflow: hidden;
}

.memes {
  display: flex;
  width: 400%;
  height: auto;
  transition: transform 0.3s ease-in-out;
}

.meme {
  width: 25%;
  height: 57vh;
  object-fit: contain;
}

.pod {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-description {
  width: 70%;
  height: auto;
  overflow: hidden;
  color: #fff;
}

.descriptions {
  display: flex;
  flex-wrap: nowrap;
  width: 400%;
  transition: 0.3s ease-in-out;
}

.description {
  width: 25%;
  padding: 1rem;
  box-sizing: border-box;
  font-size: 1.2rem;
}

.slider-control {
  display: flex;
  width: 30%;
  box-sizing: border-box;
}

input[type="radio"] {
  display: none;
}

label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  margin: 0 0.5rem;
  border-radius: 50%;
  background-color: #41a9f1;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

label:hover {
  background-color: #fff;
}

label:active {
  transform: scale(1.2);
}


#slide1:checked~.slider-memes .memes {
  transform: translateX(0%);
}

#slide2:checked~.slider-memes .memes {
  transform: translateX(-25%);
}

#slide3:checked~.slider-memes .memes {
  transform: translateX(-50%);
}

#slide4:checked~.slider-memes .memes {
  transform: translateX(-75%);
}


#slide1:checked~.pod .slider-description .descriptions {
  transform: translateX(0%);
}

#slide2:checked~.pod .slider-description .descriptions {
  transform: translateX(-25%);
}

#slide3:checked~.pod .slider-description .descriptions {
  transform: translateX(-50%);
}

#slide4:checked~.pod .slider-description .descriptions {
  transform: translateX(-75%);
}


@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#slide1:checked~.pod .slider-description .description:nth-child(1),
#slide2:checked~.pod .slider-description .description:nth-child(2),
#slide3:checked~.pod .slider-description .description:nth-child(3),
#slide4:checked~.pod .slider-description .description:nth-child(4) {
  animation: fadeIn 0.3s forwards;
}